<h1>About page</h1>

<div class="subnavigation">
  <ul>
    <li>
      <a
        routerLink="/home"
        class="subnavigation-link"
        routerLinkActive="subnavigation__link--active"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/about"
        class="subnavigation-link"
        routerLinkActive="subnavigation__link--active"
      >
        About
      </a>
    </li>
    <li>
      <a
        routerLink="/contact"
        class="subnavigation-link"
        routerLinkActive="subnavigation__link--active"
      >
        Contact
      </a>
    </li>
  </ul>
</div>
