.back-link {
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #04aa6d;
  background-color: #04aa6d;
  cursor: pointer;
  &:hover {
    border-color: #aa048e;
    background-color: #aa048e;
  }
}
